/* Styles for desktop */
body {
    background-color: #f8f9fa; /* Set a background color for the body */
    font-family: Arial, sans-serif; /* Choose a font family for text */
    margin: 0; /* Remove default margin */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 100vh; /* Make the body fill the viewport height */
    background-image: url("driving-river.PNG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.catalogue {
    display: flex; /* Use flexbox layout */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: flex-start; /* Align items to the left */
    max-width: 800px; /* Limit the maximum width of the catalogue */
    padding: 20px; /* Add some padding to the catalogue */
}

.book {
    width: calc(33.33% - 20px); /* Set width of each book item (3 items per row) */
    margin: 10px; /* Add margin around each book item */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.book img {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.book a {
    display: block;
    padding: 10px;
    text-align: center;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.book:hover {
    transform: translateY(-5px); /* Move book up slightly on hover */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.book:hover a {
    background-color: rgba(255, 255, 255, 0.9);
    color: #555;
}

/* Styles for mobile */
@media only screen and (max-width: 600px) {
    .catalogue {
        display: flex;
        flex-wrap: wrap; /* Allow items to wrap to the next line */
        justify-content: space-between; /* Distribute items evenly along the row */
        align-items: flex-start; /* Align items to the top */
        padding-top: 20px; /* Add padding to the top */
        padding-left: 10px; /* Add padding to the left */
        padding-right: 10px; /* Add padding to the right */
    }

    .book {
        width: calc(50% - 20px); /* Set width of each book item (2 items per row) for mobile */
        margin-bottom: 20px; /* Add margin between rows */
    }
}

